In [1]:
import boto3
import geopandas as gpd
import pandas as pd
import folium
import numpy as np
from folium import GeoJson
from io import BytesIO

In [2]:
import sys
sys.path.append("/agrilearn_app/agrilearn/")
from agrilearn.utils import s3_utils, str_utils
from agrilearn.crop_classification import evaluate_utils as eval_util
from agrilearn.crop_classification import yaml_utils

2025-01-08 12:32:05.985159: I tensorflow/core/util/port.cc:153] oneDNN custom operations are on. You may see slightly different numerical results due to floating-point round-off errors from different computation orders. To turn them off, set the environment variable `TF_ENABLE_ONEDNN_OPTS=0`.
2025-01-08 12:32:06.001997: E external/local_xla/xla/stream_executor/cuda/cuda_fft.cc:477] Unable to register cuFFT factory: Attempting to register factory for plugin cuFFT when one has already been registered
WARNING: All log messages before absl::InitializeLog() is called are written to STDERR
E0000 00:00:1736339526.021121   11420 cuda_dnn.cc:8310] Unable to register cuDNN factory: Attempting to register factory for plugin cuDNN when one has already been registered
E0000 00:00:1736339526.026966   11420 cuda_blas.cc:1418] Unable to register cuBLAS factory: Attempting to register factory for plugin cuBLAS when one has already been registered
2025-01-08 12:32:06.046964: I tensorflow/core/platform/cpu_feature_guard.cc:210] This TensorFlow binary is optimized to use available CPU instructions in performance-critical operations.
To enable the following instructions: AVX2 AVX512F AVX512_VNNI FMA, in other operations, rebuild TensorFlow with the appropriate compiler flags.

### Global Variables

In [3]:
config = yaml_utils.load_config("/agrilearn_app/output/experiment/experiment_08.yaml")

In [4]:
GEOPACKAGE_PATH = config['data']['geopackage_train_data_path']
GEOPACKAGE_PATH

'/agrilearn_app/datasets/base/geopackage/processed/SOYBEAN_29670_CORN_21919_COTTON_1619_RICE_1172.gpkg'

# 1. Read Datasets

In [10]:
df = gpd.read_file(GEOPACKAGE_PATH)

In [11]:
df['monitoring_class'].value_counts()

monitoring_class
SOYBEAN    29670
CORN       21919
COTTON      1619
RICE        1172
Name: count, dtype: int64

In [12]:
df['state'].value_counts()

state
PR    8579
MG    7472
MT    7290
SP    6698
RS    4814
GO    4658
MS    3036
MA    2096
TO    2082
SC    1544
RO    1514
PA    1389
BA    1330
PI    1307
RR     275
DF     245
AP      39
AC      12
Name: count, dtype: int64

In [14]:
print(f"There are {df.shape[0]} rows and {df.shape[1]} columns")

There are 54380 rows and 54 columns

In [15]:
print(f"Dados de {df['start_season'].min()} a {df['end_season'].max()}")

Dados de 2017-09-01 00:00:00 a 2024-09-01 00:00:00

In [16]:
list(df.columns)

['monitoring_class',
 'period',
 'fonte',
 'state',
 'area',
 'meso',
 'eopath_location',
 'start_season',
 'end_season',
 'peak_start',
 'peak_end',
 'field_id',
 'planting_start',
 'planting_end',
 'cycle_start',
 'cycle_end',
 'LOS',
 'is_valid',
 'is_valid_cvt',
 'start_of_season',
 'end_of_season',
 'peaks',
 'length_of_season',
 'set_type',
 'sampled_date',
 'micro',
 'peak_of_season',
 'is_valid_metrics',
 'sos_valid',
 'pos_valid',
 'eos_valid',
 'los_valid',
 'start_of_cycle',
 'end_of_cycle',
 'length_of_cycle',
 'is_valid_POS',
 'is_valid_LOS',
 'dataset_part',
 'cultura_2',
 'obs_extra',
 'sentinel_eopatch_current',
 'contour_score',
 'contour_selected_timestamp',
 'compac_index',
 'key_bucket',
 'local_eopatch_path',
 'total_imagens_do_intervalo',
 'total_de_imagem',
 'status_missing_images',
 'days_gap',
 'dates_diff',
 'mean_dates_diff',
 'status_series_missing',
 'geometry']

In [17]:
df['dataset_part'].value_counts(normalize=True)*100

dataset_part
train    69.98345
test     15.01655
val      15.00000
Name: proportion, dtype: float64

# 2. Data Understading

### 2.1 Data description
- monitoring_class: é a cultura de interesse dp cliente ou da amostra de treinamento (SOYBEAN, CORN)
- period:  a safra agricola (2023/2024, 2024/2025)
- state: é o estado do polígono
- field_id: id do talhão
- fonte: a origem dos dados (mapas temáticos, banco de dados)
- area:
- micro:
- start_season: é a data que inicia a safra pra determinada cultura (monitoring_class) e safra (period)
- end_season: é a data que termina a safra pra determinada cultura (monitoring_class) e safra (period)
- peak_start: é a data que inicia o período em que pode ocorrer o pico pra determinada cultura (monitoring_class) e safra (period)
- peak_end: é a data que termina o período em que pode ocorrer o pico pra determinada cultura (monitoring_class) e safra (period) (Obs: temos um calendário pra isso, um arquivo yaml)
- start_of_cycle: data do inio do cultivo segundo o calendário agrícola
- end_of_cycle: data do fim do caledário de cuiltivo segundo calendário agrícola
- length_of_cycle:
- start_of_season: data da emergencia da cultura
- end_of_season: data da colheita da cultura
- peak_of_season: data do pico vegetativo da cultura
- length_of_season: Duração do cultivo
- eopath_location: é caminho onde o eopatch está salvo (imagens p/ inferência)
- geometry: é a geometria do polígono]

# 3. Data Processing

### 3.1 Check NaN Values

In [18]:
df.isna().sum()

monitoring_class                  0
period                            0
fonte                             0
state                             0
area                              0
meso                          18576
eopath_location                   0
start_season                      0
end_season                        0
peak_start                        0
peak_end                          0
field_id                      18576
planting_start                    0
planting_end                      0
cycle_start                   18576
cycle_end                     18576
LOS                           18576
is_valid                          0
is_valid_cvt                  18576
start_of_season                   0
end_of_season                     0
peaks                         18576
length_of_season                  0
set_type                      34020
sampled_date                  34020
micro                         35804
peak_of_season                35804
is_valid_metrics              35804
sos_valid                     35804
pos_valid                     35804
eos_valid                     35804
los_valid                     35804
start_of_cycle                35813
end_of_cycle                  35813
length_of_cycle               35813
is_valid_POS                  35804
is_valid_LOS                  35804
dataset_part                      0
cultura_2                     54380
obs_extra                     20360
sentinel_eopatch_current      20360
contour_score                 21377
contour_selected_timestamp    20360
compac_index                  20360
key_bucket                    20360
local_eopatch_path            20360
total_imagens_do_intervalo    20360
total_de_imagem               20360
status_missing_images         20360
days_gap                      54380
dates_diff                    54380
mean_dates_diff               20360
status_series_missing         20360
geometry                          0
dtype: int64

### 3.2 Check Duplicated

In [20]:
shape_before = df.shape[0]
idx_drop_duplicated = df[df.duplicated(subset=['period', 'geometry'])].index
df.drop(idx_drop_duplicated, inplace=True)
shape_after = df.shape[0]
print(f"{shape_before-shape_after} registros duplicados foram encontrados")

0 registros duplicados foram encontrados

### 3.3 Data Formatation

In [21]:
df.info()

<class 'geopandas.geodataframe.GeoDataFrame'>
RangeIndex: 54380 entries, 0 to 54379
Data columns (total 54 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   monitoring_class            54380 non-null  object
 1   period                      54380 non-null  object
 2   fonte                       54380 non-null  object
 3   state                       54380 non-null  object
 4   area                        54380 non-null  float64
 5   meso                        35804 non-null  float64
 6   eopath_location             54380 non-null  object
 7   start_season                54380 non-null  datetime64[ms]
 8   end_season                  54380 non-null  datetime64[ms]
 9   peak_start                  54380 non-null  datetime64[ms]
 10  peak_end                    54380 non-null  datetime64[ms]
 11  field_id                    35804 non-null  object
 12  planting_start              54380 non-null  object
 13  planting_end                54380 non-null  object
 14  cycle_start                 35804 non-null  datetime64[ms]
 15  cycle_end                   35804 non-null  datetime64[ms]
 16  LOS                         35804 non-null  object
 17  is_valid                    54380 non-null  object
 18  is_valid_cvt                35804 non-null  float64
 19  start_of_season             54380 non-null  object
 20  end_of_season               54380 non-null  object
 21  peaks                       35804 non-null  object
 22  length_of_season            54380 non-null  object
 23  set_type                    20360 non-null  object
 24  sampled_date                20360 non-null  object
 25  micro                       18576 non-null  float64
 26  peak_of_season              18576 non-null  object
 27  is_valid_metrics            18576 non-null  object
 28  sos_valid                   18576 non-null  object
 29  pos_valid                   18576 non-null  object
 30  eos_valid                   18576 non-null  object
 31  los_valid                   18576 non-null  object
 32  start_of_cycle              18567 non-null  object
 33  end_of_cycle                18567 non-null  object
 34  length_of_cycle             18567 non-null  object
 35  is_valid_POS                18576 non-null  object
 36  is_valid_LOS                18576 non-null  object
 37  dataset_part                54380 non-null  object
 38  cultura_2                   0 non-null      object
 39  obs_extra                   34020 non-null  object
 40  sentinel_eopatch_current    34020 non-null  object
 41  contour_score               33003 non-null  float64
 42  contour_selected_timestamp  34020 non-null  object
 43  compac_index                34020 non-null  float64
 44  key_bucket                  34020 non-null  object
 45  local_eopatch_path          34020 non-null  object
 46  total_imagens_do_intervalo  34020 non-null  object
 47  total_de_imagem             34020 non-null  object
 48  status_missing_images       34020 non-null  object
 49  days_gap                    0 non-null      object
 50  dates_diff                  0 non-null      object
 51  mean_dates_diff             34020 non-null  float64
 52  status_series_missing       34020 non-null  object
 53  geometry                    54380 non-null  geometry
dtypes: datetime64[ms](6), float64(7), geometry(1), object(40)
memory usage: 22.4+ MB

In [25]:
datetime_columns = ['start_season', 
                    'end_season', 
                    'peak_start', 
                    'peak_end']

for col in datetime_columns:
    df[col] = pd.to_datetime(df[col])

df[datetime_columns].info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 54380 entries, 0 to 54379
Data columns (total 4 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   start_season  54380 non-null  datetime64[ms]
 1   end_season    54380 non-null  datetime64[ms]
 2   peak_start    54380 non-null  datetime64[ms]
 3   peak_end      54380 non-null  datetime64[ms]
dtypes: datetime64[ms](4)
memory usage: 1.7 MB

### 3.4 Vamos manter os dados nulos no campo ``contour_score``

In [26]:
df[df['contour_score'].isna()]

,monitoring_class,period,fonte,state,area,meso,eopath_location,start_season,end_season,peak_start,...,key_bucket,local_eopatch_path,total_imagens_do_intervalo,total_de_imagem,status_missing_images,days_gap,dates_diff,mean_dates_diff,status_series_missing,geometry
0,CORN,2022/2023,Agrosatélite - Grãos Amazonia e Cerrado 2022/2023,AC,1.527073e+06,NaN,start_2022-10-01_end_2023-06-01_monitoring_cla...,2022-10-01,2023-06-01,2022-12-01,...,None,None,None,None,None,None,None,NaN,None,"MULTIPOLYGON (((-67.78402 -10.10449, -67.78391..."
1,CORN,2022/2023,Agrosatélite - Grãos Amazonia e Cerrado 2022/2023,AC,7.104539e+05,NaN,start_2022-10-01_end_2023-06-01_monitoring_cla...,2022-10-01,2023-06-01,2022-12-01,...,None,None,None,None,None,None,None,NaN,None,"MULTIPOLYGON (((-68.37328 -10.75255, -68.37328..."
2,CORN,2022/2023,Agrosatélite - Grãos Amazonia e Cerrado 2022/2023,AC,6.305511e+05,NaN,start_2022-10-01_end_2023-06-01_monitoring_cla...,2022-10-01,2023-06-01,2022-12-01,...,None,None,None,None,None,None,None,NaN,None,"MULTIPOLYGON (((-67.61672 -10.05572, -67.61681..."
3,CORN,2022/2023,Agrosatélite - Grãos Amazonia e Cerrado 2022/2023,AC,1.507290e+05,NaN,start_2022-10-01_end_2023-06-01_monitoring_cla...,2022-10-01,2023-06-01,2022-12-01,...,None,None,None,None,None,None,None,NaN,None,"MULTIPOLYGON (((-67.60459 -10.10615, -67.60459..."
4,CORN,2022/2023,Agrosatélite - Grãos Amazonia e Cerrado 2022/2023,AC,1.688786e+05,NaN,start_2022-10-01_end_2023-06-01_monitoring_cla...,2022-10-01,2023-06-01,2022-12-01,...,None,None,None,None,None,None,None,NaN,None,"MULTIPOLYGON (((-67.70848 -10.3767, -67.70844 ..."
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
54330,RICE,2018/2019,Conab - Arroz Irrigado 2018/2019,SC,1.918965e+06,469.0,start_2018-09-01_end_2019-06-01_monitoring_cla...,2018-09-01,2019-06-01,2018-11-01,...,datasets/culture/culture_v02/rice_test_v2.gpkg,/agrilearn_app/datasets/eopatchs/processed/SOY...,55,35,OK,None,None,5.44,OK,"POLYGON ((-49.5122 -28.69859, -49.51208 -28.69..."
54353,RICE,2019/2020,Conab - Arroz Irrigado 2019/2020,RS,7.142620e+05,505.0,start_2019-09-01_end_2020-06-01_monitoring_cla...,2019-09-01,2020-06-01,2019-11-01,...,datasets/culture/culture_v02/rice_test_v2.gpkg,/agrilearn_app/datasets/eopatchs/processed/SOY...,68,34,OK,None,None,5.15,OK,"POLYGON ((-52.55275 -32.29614, -52.55275 -32.2..."
54369,RICE,2018/2019,Conab - Arroz Irrigado 2018/2019,SC,1.918965e+06,469.0,start_2018-09-01_end_2019-06-01_monitoring_cla...,2018-09-01,2019-06-01,2018-11-01,...,datasets/culture/culture_v02/rice_test_v2.gpkg,/agrilearn_app/datasets/eopatchs/processed/SOY...,43,30,OK,None,None,5.69,OK,"POLYGON ((-49.51818 -28.68918, -49.51812 -28.6..."
54370,RICE,2018/2019,Conab - Arroz Irrigado 2018/2019,SC,1.918965e+06,469.0,start_2018-09-01_end_2019-06-01_monitoring_cla...,2018-09-01,2019-06-01,2018-11-01,...,datasets/culture/culture_v02/rice_test_v2.gpkg,/agrilearn_app/datasets/eopatchs/processed/SOY...,43,36,OK,None,None,5.57,OK,"POLYGON ((-49.52119 -28.70226, -49.52169 -28.7..."
54377,RICE,2019/2020,Conab - Arroz Irrigado 2019/2020,RS,1.392900e+05,505.0,start_2019-09-01_end_2020-06-01_monitoring_cla...,2019-09-01,2020-06-01,2019-11-01,...,datasets/culture/culture_v02/rice_test_v2.gpkg,/agrilearn_app/datasets/eopatchs/processed/SOY...,43,28,OK,None,None,5.00,OK,"POLYGON ((-52.75066 -32.89058, -52.75065 -32.8..."

In [27]:
df[df['contour_score'].isna()].shape[0] / gdf.shape[0]

NameError: name 'gdf' is not defined

In [21]:
gdf[gdf['contour_score'].isna()]['monitoring_class'].value_counts()

monitoring_class
CORN       67810
SOYBEAN      825
RICE          79
COTTON        44
Name: count, dtype: int64

# 4. Resample data

In [33]:
pd.concat([gdf['monitoring_class'].value_counts(),
          gdf['monitoring_class'].value_counts(normalize=True)*100], axis=1)

                  count  proportion
monitoring_class
CORN              73080   69.234705
SOYBEAN           29670   28.108835
COTTON             1632    1.546128
RICE               1172    1.110332

In [24]:
# gdf[gdf['monitoring_class'].isin(['CORN'])].groupby(['state', 'period']).agg(count=('monitoring_class', 'count')).sort_values('count')

In [44]:
df_result = eval_util.undersample(gdf, 
                                  label_class='monitoring_class',
                                  classe_value='CORN',
                                  percentual_drop=0.80, 
                                  stratify=['state', 'period'])

In [45]:
pd.concat([df_result['monitoring_class'].value_counts(),
          df_result['monitoring_class'].value_counts(normalize=True)*100], axis=1)

                  count  proportion
monitoring_class
SOYBEAN           29670   62.973575
CORN              14641   31.075029
COTTON             1632    3.463865
RICE               1172    2.487531

In [101]:
# df_result[df_result['monitoring_class'].isin(['CORN'])].groupby(['state', 'period']).agg(count=('monitoring_class', 'count')).sort_values('count')

# 5. Split Train, Validation and Test

In [102]:
gdf=df_result

In [103]:
gdf.shape

(47115, 54)

In [104]:
gdf_filter = gdf.groupby(['state', 'monitoring_class', 'period']).filter(lambda x: len(x) > 10)
gdf_filter.shape[0]

47061

In [105]:
train_, test_and_val = eval_util.split_dataset_by_state_and_strafity(gdf_filter, 
                                                                     label_state='state', 
                                                                     stratify_labels=['monitoring_class', 'period'],
                                                                     train_size=0.7)

val_, test_ = eval_util.split_dataset_by_state_and_strafity(test_and_val, 
                                                            label_state='state', 
                                                            stratify_labels=['monitoring_class', 'period'],
                                                            train_size=0.5)
gdf['dataset_part'] = None
gdf.loc[train_.index, 'dataset_part'] = 'train'
gdf.loc[val_.index, 'dataset_part'] = 'val'
gdf.loc[test_.index, 'dataset_part'] = 'test'

In [106]:
shape_before = gdf.shape[0]
gdf.dropna(subset=['dataset_part'], inplace=True)
shape_after = gdf.shape[0]
print(f"{shape_before-shape_after} registros foram deletados pois o grupo possuem poucos registros para train, val and test")

54 registros foram deletados pois o grupo possuem poucos registros para train, val and test

# 6. Data Analysis

### 6.1 Analysing Target y (monitoring_class)

In [107]:
pd.concat([gdf['monitoring_class'].value_counts(),
          gdf['monitoring_class'].value_counts(normalize=True)*100], axis=1)

                  count  proportion
monitoring_class
SOYBEAN           29670   63.045834
CORN              14600   31.023565
COTTON             1619    3.440216
RICE               1172    2.490385

### 5.2 Analysing fonte de dados

In [108]:
pd.concat([gdf['fonte'].value_counts(), 
           gdf['fonte'].value_counts(normalize=True)*100], axis=1)

                                                   count  proportion
fonte
Agrosatélite - Grãos Brasil 2021/2022              17259   36.673679
Agrosatélite - Grãos Brasil 2020/2021              16252   34.533903
Agrosatélite - Grãos 2022/2023                      6611   14.047725
Agrosatélite - Grãos Sul 2022/2023                  2960    6.289709
Agrosatélite - Grãos Amazonia e Cerrado 2022/2023   2807    5.964599
Conab - Arroz Irrigado 2019/2020                     595    1.264317
Conab - Arroz Irrigado 2018/2019                     340    0.722467
Conab - Arroz Irrigado 2017/2018                     206    0.437730
Conab - Arroz Irrigado 2021/2022                      31    0.065872

### 5.3 Analysing dados por estado e classes

In [109]:
pd.concat([gdf['state'].value_counts(),
          gdf['state'].value_counts(normalize=True)*100], axis=1)

       count  proportion
state
PR      7035   14.948684
MT      6641   14.111472
MG      6110   12.983150
SP      5871   12.475298
RS      4154    8.826842
GO      4051    8.607977
MS      2801    5.951850
MA      1887    4.009690
TO      1867    3.967192
RO      1357    2.883492
SC      1220    2.592380
BA      1202    2.554132
PA      1202    2.554132
PI      1164    2.473386
RR       275    0.584348
DF       185    0.393107
AP        39    0.082871

In [110]:
gdf.groupby(['state', 'monitoring_class']).agg({'period':'count'})

                        period
state monitoring_class
AP    SOYBEAN               39
BA    CORN                 258
      COTTON               383
      SOYBEAN              561
DF    CORN                  90
      SOYBEAN               95
GO    CORN                1213
      COTTON               108
      RICE                  86
      SOYBEAN             2644
MA    CORN                 420
      SOYBEAN             1467
MG    CORN                2727
      COTTON               188
      SOYBEAN             3195
MS    CORN                 471
      COTTON                70
      RICE                  66
      SOYBEAN             2194
MT    CORN                1297
      COTTON               798
      SOYBEAN             4546
PA    CORN                 376
      SOYBEAN              826
PI    CORN                 286
      COTTON                14
      SOYBEAN              864
PR    CORN                3089
      RICE                 122
      SOYBEAN             3824
RO    CORN                 313
      SOYBEAN             1044
RR    SOYBEAN              275
RS    CORN                1320
      RICE                 595
      SOYBEAN             2239
SC    CORN                 650
      RICE                 219
      SOYBEAN              351
SP    CORN                1658
      COTTON                17
      SOYBEAN             4196
TO    CORN                 432
      COTTON                41
      RICE                  84
      SOYBEAN             1310

### 5.4 Analysis field_id (existem IDs duplicados para os talhões)

In [111]:
gdf['field_id'].nunique()

33049

In [112]:
gdf[gdf.duplicated(['field_id','period'])]

,monitoring_class,period,fonte,state,area,meso,eopath_location,start_season,end_season,peak_start,...,key_bucket,local_eopatch_path,total_imagens_do_intervalo,total_de_imagem,status_missing_images,days_gap,dates_diff,mean_dates_diff,status_series_missing,geometry
25,CORN,2020/2021,Agrosatélite - Grãos Brasil 2020/2021,BA,953564.0,220.0,start_2020-10-01_end_2021-07-01_monitoring_cla...,2020-10-01,2021-07-01,2021-01-01,...,datasets/culture/culture_v02/corn_train_v2.gpkg,/agrilearn_app/datasets/eopatchs/processed/SOY...,55,24,OK,None,None,5.00,OK,"POLYGON ((-46.23854 -11.65442, -46.23862 -11.6..."
48,CORN,2020/2021,Agrosatélite - Grãos Brasil 2020/2021,BA,12082522.0,222.0,start_2020-10-01_end_2021-07-01_monitoring_cla...,2020-10-01,2021-07-01,2021-01-01,...,datasets/culture/culture_v02/corn_train_v2.gpkg,/agrilearn_app/datasets/eopatchs/processed/SOY...,55,28,OK,None,None,5.00,OK,"POLYGON ((-46.15444 -13.83715, -46.15445 -13.8..."
53,CORN,2020/2021,Agrosatélite - Grãos Brasil 2020/2021,BA,14934182.0,63.0,start_2020-10-01_end_2021-07-01_monitoring_cla...,2020-10-01,2021-07-01,2021-01-01,...,None,None,None,None,None,None,None,NaN,None,"MULTIPOLYGON (((-46.57307 -11.36588, -46.57307..."
58,CORN,2020/2021,Agrosatélite - Grãos Brasil 2020/2021,BA,4422121.0,222.0,start_2020-10-01_end_2021-07-01_monitoring_cla...,2020-10-01,2021-07-01,2021-01-01,...,datasets/culture/culture_v02/corn_train_v2.gpkg,/agrilearn_app/datasets/eopatchs/processed/SOY...,55,33,OK,None,None,5.00,OK,"POLYGON ((-45.7407 -14.02816, -45.72816 -14.01..."
74,CORN,2020/2021,Agrosatélite - Grãos Brasil 2020/2021,BA,1096067.0,220.0,start_2020-10-01_end_2021-07-01_monitoring_cla...,2020-10-01,2021-07-01,2021-01-01,...,None,None,None,None,None,None,None,NaN,None,"MULTIPOLYGON (((-45.92617 -11.53204, -45.92617..."
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
47070,RICE,2019/2020,Conab - Arroz Irrigado 2019/2020,RS,108551.0,488.0,start_2019-09-01_end_2020-06-01_monitoring_cla...,2019-09-01,2020-06-01,2019-11-01,...,datasets/culture/culture_v02/rice_test_v2.gpkg,/agrilearn_app/datasets/eopatchs/processed/SOY...,55,28,OK,None,None,5.19,OK,"POLYGON ((-54.15517 -29.92234, -54.15512 -29.9..."
47074,RICE,2019/2020,Conab - Arroz Irrigado 2019/2020,RS,384161.0,493.0,start_2019-09-01_end_2020-06-01_monitoring_cla...,2019-09-01,2020-06-01,2019-11-01,...,datasets/culture/culture_v02/rice_test_v2.gpkg,/agrilearn_app/datasets/eopatchs/processed/SOY...,55,28,OK,None,None,5.19,OK,"POLYGON ((-51.41222 -29.70816, -51.41241 -29.7..."
47088,RICE,2019/2020,Conab - Arroz Irrigado 2019/2020,RS,714262.0,505.0,start_2019-09-01_end_2020-06-01_monitoring_cla...,2019-09-01,2020-06-01,2019-11-01,...,datasets/culture/culture_v02/rice_test_v2.gpkg,/agrilearn_app/datasets/eopatchs/processed/SOY...,68,34,OK,None,None,5.15,OK,"POLYGON ((-52.55275 -32.29614, -52.55275 -32.2..."
47092,RICE,2021/2022,Conab - Arroz Irrigado 2021/2022,GO,125860.0,551.0,start_2021-10-01_end_2022-06-01_monitoring_cla...,2021-10-01,2022-06-01,2021-12-01,...,datasets/culture/culture_v02/rice_test_v2.gpkg,/agrilearn_app/datasets/eopatchs/processed/SOY...,68,28,OK,None,None,5.00,OK,"POLYGON ((-47.03756 -14.50845, -47.03755 -14.5..."
47093,RICE,2021/2022,Conab - Arroz Irrigado 2021/2022,GO,190511.0,551.0,start_2021-10-01_end_2022-06-01_monitoring_cla...,2021-10-01,2022-06-01,2021-12-01,...,datasets/culture/culture_v02/rice_test_v2.gpkg,/agrilearn_app/datasets/eopatchs/processed/SOY...,68,30,OK,None,None,5.34,OK,"POLYGON ((-47.03426 -14.51282, -47.03426 -14.5..."

In [113]:
gdf[gdf.duplicated(['field_id','period'])]['field_id'].unique()

array(['2143_1', '2229_2', '538_16', '2259_0', '2164_3', '2145_2',
       '2192_5', '2209_5', '2136_0', '11054_4', '537_14', None, '11506_5',
       '11502_20', '11502_38', '1305_0', '1279_3', '11203_0', '11219_3',
       '1255_2', '11404_1', '11013_4', '11353_0', '10760_2', '11399_2',
       '11205_0', '1276_2', '11327_9', '11463_1', '1274_2', '11452_2',
       '11313_9', '10783_1', '11480_0', '557_2', '568_2', '1887_3',
       '1650_0', '1800_0', '1584_3', '1765_5', '593_3', '1667_1', '563_4',
       '1733_1', '2292_2', '2779_1', '2549_3', '598_4', '2477_0',
       '3622_2', '2312_17', '653_2', '2644_2', '3938_2', '2414_1',
       '4038_5', '645_1', '2809_5', '3728_3', '3964_0', '2449_3',
       '4166_1', '3617_2', '3285_1', '2846_0', '2287_5', '3835_4',
       '2544_10', '2404_10', '2344_4', '3043_4', '3982_1', '2937_5',
       '3210_0', '2355_3', '3729_3', '3602_0', '674_5', '2471_2',
       '3038_0', '2448_8', '3937_2', '659_2', '3763_1', '10311_4',
       '10345_1', '10205_2', '10348_0', '10277_6', '1147_5', '10217_2',
       '10231_1', '10384_5', '10533_7', '10527_3', '10463_5', '1180_9',
       '1231_5', '10533_11', '10534_1', '10544_1', '10503_0', '10657_1',
       '1226_2', '10441_5', '10414_15', '10394_3', '10437_4', '10437_10',
       '10606_10', '511_3', '511_1', '1430_6', '2083_7', '582_1',
       '1990_12', '2087_1', '2101_4', '617_8', '1992_10', '2055_2',
       '2121_10', '2121_8', '6343_9', '5752_0', '6435_1', '5757_5',
       '905_2', '6054_2', '6980_5', '5682_1', '7418_1', '6634_1',
       '6514_1', '5849_1', '7181_0', '6889_0', '5750_2', '6094_5',
       '5618_5', '7074_3', '7427_5', '6152_1', '5966_2', '6332_1',
       '5679_7', '5754_4', '885_2', '6533_1', '6452_1', '6352_14',
       '6118_3', '7272_1', '5617_4', '6117_1', '5882_2', '6334_2',
       '6090_1', '9561_0', '1132_4', '8517_2', '9550_2', '9071_18',
       '9284_5', '10093_4', '1172_1', '9586_3', '8584_4', '9003_5',
       '9141_3', '9671_5', '9006_2', '10072_1', '9101_0', '10077_0',
       '1139_0', '1174_5', '10089_0', '8446_3', '7726_3', '7711_3',
       '7723_3', '8376_2', '7661_45', '8075_8', '4926_8', '4584_1',
       '5092_5', '4412_5', '4227_1', '4443_2', '5045_0', '4548_5',
       '5502_1', '5309_4', '5499_2', '787_12', '5285_1', '5082_0',
       '5106_2', '4304_0', '4789_2', '4738_2', '772_1', '741_0', '5243_5',
       '4419_0', '4787_4', '5109_1', '4463_4', '4751_1', '5256_4',
       '5247_3', '794_1', '4977_1', '5416_3', '4437_1', '4427_6',
       '5243_8', '4343_5', '4287_2', '731_1', '838_6', '1524_11', '524_2',
       '1541_3', '1578_1', '1528_5', '1816_2', '827_1', '2361_4',
       '2361_5', '9182_8', '2134_3', '1173_1', '813_2', '1337_0',
       '1337_2', '2563_2', '2960_1', '8903_2', '5899_2', '5945_2',
       '7214_3', '1744_5', '641_4', '2500_3', '6237_6', '2252_3',
       '1588_1', '1534_8', '598_3', '7168_3', '616_5', '2935_8', '2553_2',
       '5119_5', '1206_1', '4463_3', '1464_2', '6296_1', '4480_4',
       '801_6', '801_7', '5523_3', '4487_3', '1645_3', '2311_2', '1309_2',
       '5916_1', '5942_1', '924_2', '6931_3', '3189_1', '5850_1',
       '6196_1', '7093_0', '4762_2', '3321_3', '5851_2', '1553_1',
       '1545_4', '9665_1', '844_2', '2910_1', '10134_3', '2893_1',
       '11013_3', '7912_1', '9134_3', '7203_1', '3909_2', '3183_1',
       '4370_1', '4356_3', '7040_5', '6198_2', '10110_2', '6956_2',
       '5767_1', '2367_1', '3353_2', '7399_3', '6306_1', '3373_2',
       '2064_1', '5630_1', '11232_2', '2139_0', '4493_0', '6212_1',
       '573_0', '5747_1', '5265_0', '2626_2', '2573_13', '8893_2',
       '2511_3', '2572_3', '2301_3', '2625_4', '5897_5', '2754_4',
       '6611_1', '1932_13', '7281_2', '621_1', '7793_1', '1505_2',
       '7711_2', '2751_2', '5429_2', '5771_2', '9_2', '14_3', '23_1',
       '35_1', '40_8', '40_10', '41_5', '41_6', '83_1', '126_1', '134_2',
       '140_2', '142_0', '146_0', '157_1', '161_5', '180_1', '187_1',
       '201_3', '202_1', '210_1', '214_0', '216_3', '229_6', '237_1',
       '266_1', '275_2', '280_2', '281_2', '282_1', '309_2', '315_4',
       '315_6', '356_1', '363_0', '371_3', '372_4', '373_4', '397_0',
       '399_0', '416_1', '445_10', '460_1', '460_3', '470_1', '476_1',
       '561_1', '639_2', '757_2', '776_0', '785_2', '801_3', '803_11',
       '803_12', '827_0', '847_3', '849_4', '850_3', '850_4', '850_5',
       '854_4', '854_5', '859_4', '859_10', '859_16', '882_2', '940_1',
       '944_1', '43_1', '74_3', '74_6', '113_2', '140_1', '443_2',
       '649_1', '745_2', '847_2', '859_3', '859_12', '1_0', '1_2', '6_2',
       '8_3', '21_0', '48_4', '61_3', '61_7', '62_18', '78_0', '78_3',
       '89_2', '89_4', '92_4', '132_3', '147_9', '147_12', '148_3',
       '148_4', '148_9', '154_2', '170_3', '172_2', '185_1', '209_3',
       '219_2', '226_0', '231_3', '231_4', '235_4', '271_0', '307_1',
       '314_2', '318_2', '319_1', '324_2', '346_0', '354_4', '356_3',
       '357_0', '377_0', '378_3', '388_2', '390_0', '418_1', '422_0',
       '426_1', '458_0', '459_1', '465_3', '472_3', '495_1', '504_0',
       '513_0', '527_1', '575_6', '593_4', '599_2', '602_2', '718_7',
       '721_9', '739_3', '790_2', '802_3', '803_4', '803_9', '815_2',
       '818_3', '818_10', '818_15', '828_5', '831_4', '838_1', '838_4',
       '841_2', '847_13', '859_6', '859_13', '862_2', '863_2', '865_2',
       '869_3', '870_7', '873_1', '877_8', '878_7', '888_4', '891_1',
       '891_2', '891_6', '911_1', '913_2', '915_4', '917_3', '917_8',
       '925_5', '929_3', '932_2', '932_11', '932_15', '936_1', '955_4',
       '956_5', '958_4', '964_1', '976_6', '991_2', '67_3', '92_5',
       '169_1', '179_3', '186_1', '258_1', '261_1', '262_3', '269_2',
       '287_2', '309_8', '311_4', '361_6', '361_8', '361_15', '389_0',
       '466_1', '914_2', '0_2', '0_4', '0_7', '1_5', '23_4', '59_2',
       '65_0', '73_2', '77_3', '82_8', '91_3', '91_6', '104_2', '105_1',
       '175_7', '177_2', '178_3', '181_8', '182_1', '183_1', '198_2',
       '205_2', '209_4', '212_2', '222_4', '222_6', '222_8', '229_2',
       '233_3', '242_4', '246_2', '249_1', '249_9', '301_3', '305_2',
       '309_3', '310_3', '316_3', '316_5', '321_2', '325_3', '325_5',
       '329_4', '347_0', '348_1', '351_2', '356_2', '361_3', '362_2',
       '378_2', '380_3', '380_9', '381_4', '383_0', '385_2', '392_5',
       '419_2', '425_2', '425_4', '452_4', '452_5', '453_4', '472_1',
       '483_5', '484_9', '507_1', '515_2', '41_2', '61_5', '61_8',
       '61_17', '64_2', '64_6', '66_4', '82_3', '82_7', '85_8', '93_2',
       '96_2', '109_3', '130_2', '135_2', '137_2', '145_1', '147_3',
       '147_4', '149_2', '152_1', '159_2', '160_4', '160_10', '160_16',
       '162_1', '175_5', '200_4', '215_2', '227_2', '227_3', '259_4',
       '259_9', '273_1', '290_1', '293_3', '298_0', '340_3', '340_5',
       '341_5', '347_4', '347_5', '354_1', '374_3', '392_0', '408_1',
       '410_6', '419_1', '448_2', '461_3', '461_7', '462_3', '473_7',
       '483_15', '483_16', '506_1', '524_3', '529_6', '535_2', '551_2',
       '17_1', '25_8', '26_3', '27_2', '28_4', '32_2', '34_3', '39_5',
       '42_7', '44_5', '50_2', '50_3', '50_5', '50_6', '50_8', '50_10',
       '50_13', '51_0', '62_7', '63_10', '0_8', '13_3', '42_15', '44_4',
       '56_2', '57_4', '58_7', '62_2', '63_16', '66_6', '67_8', '12_1',
       '14_0', '14_1', '25_4', '28_3', '34_2', '36_2', '40_4', '44_0',
       '53_2', '55_2', '55_5', '59_9', '60_6', '63_4', '66_0', '77_6',
       '83_4', '84_10', '87_12', '103_8', '109_2', '15_1', '16_1', '22_1',
       '22_2', '30_9', '39_2', '39_12', '40_3', '70_1', '74_2', '87_8',
       '100_25', '100_30', '103_7', '103_11', '103_12', '104_6', '108_2',
       '1381_0', '1381_1', '94_2', '97_0', '0_1', '6_0', '40_0', '79_1',
       '98_0', '100_0'], dtype=object)

In [114]:
#df[df['field_id'].isin(['0_6'])].to_csv('/agrilearn_app/datasets/cana-v1/csvs/duplicated_lines_CANA-sample-02.csv')

In [115]:
gdf[['cultura_2', 'monitoring_class']]

      cultura_2 monitoring_class
19         None             CORN
20         None             CORN
21         None             CORN
22         None             CORN
23         None             CORN
...         ...              ...
47110      None             RICE
47111      None             RICE
47112      None             RICE
47113      None             RICE
47114      None             RICE

[47061 rows x 2 columns]

### 5.5 Analysis of period

In [116]:
gdf.groupby(['dataset_part', 'period']).agg({'monitoring_class':'count'})

                        monitoring_class
dataset_part period
test         2017/2018                31
             2018/2019                51
             2019/2020                89
             2020/2021              2442
             2021/2022              2597
             2022/2023               867
             2023/2023               992
train        2017/2018               144
             2018/2019               237
             2019/2020               416
             2020/2021             11373
             2021/2022             12101
             2022/2023              4034
             2023/2023              4628
val          2017/2018                31
             2018/2019                52
             2019/2020                90
             2020/2021              2437
             2021/2022              2592
             2022/2023               866
             2023/2023               991

In [117]:
gdf['monitoring_class'].value_counts()

monitoring_class
SOYBEAN    29670
CORN       14600
COTTON      1619
RICE        1172
Name: count, dtype: int64

In [118]:
gdf['monitoring_class'].value_counts().idxmax()

'SOYBEAN'

## 6. Save processed file

In [147]:
value_counts = gdf['monitoring_class'].value_counts()
filename = '_'.join([f"{cls}_{count}" for cls, count in value_counts.items()]) + ".gpkg"
filename

'SUGAR_CANE_35276_SOYBEAN_29670_CORN_5710_COTTON_1639_RICE_1173.gpkg'

In [148]:
gdf.to_file(f"/agrilearn_app/datasets/base/geopackage/processed/{filename}", driver='GPKG', engine='fiona')

## 7. Generating Html Report

In [ ]:
# from ydata_profiling import ProfileReport
# from ydata_profiling.config import Settings
# %matplotlib inline

In [ ]:
# df_copy = gdf.drop(columns=['cultura_2', 'geometry'])  # Supondo que 'cultura_2' seja a coluna problemática

In [ ]:
# df_e_object = df_copy.select_dtypes(exclude=['object'])
# df_e_object

In [ ]:
# df_i_object = df_copy.select_dtypes(include=['object'])
# df_i_object

In [ ]:
# df_e_object_colums = df_copy.select_dtypes(exclude=['object']).columns

In [ ]:
# title = "data_report_06_12_2024_cana_data"
# config = Settings()
# config.vars.cat.words = False  # Desativa a nuvem de palavras
# report  = ProfileReport(df=df_copy[list(df_e_object_colums) + ['monitoring_class', 'state', 'period', 'fonte']], 
#                         title=title,
#                         minimal=False,
#                         config=config)

# report.to_file(f'{title}.html')

In [ ]:
# df_number = gdf.select_dtypes(exclude=['float','int', 'datetime'])
# df_number