In [10]:
import boto3
import geopandas as gpd
import pandas as pd
import folium
import numpy as np
from folium import GeoJson
from io import BytesIO
import geopandas as gpd

In [7]:
import sys
sys.path.append("/agrilearn_app/agrilearn/submodules/commons/")

In [8]:
from agrilearn.crop_classification import evalutate_utils
from agrilearn.crop_classification import yaml_utils
from agrilearn.commons.s3 import s3_utils

### Global Variables

In [9]:
GEOPACKAGE_PATH = f"/agrilearn_app/datasets/base/geopackage/processed/SOYBEAN_96505_CORN_67593_SUGAR_CANE_35276_COTTON_6344_RICE_1842.gpkg"

# 1. Read Datasets

In [11]:
df = gpd.read_file(GEOPACKAGE_PATH)

In [13]:
df.info()

<class 'geopandas.geodataframe.GeoDataFrame'>
RangeIndex: 207560 entries, 0 to 207559
Data columns (total 36 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   monitoring_class  207560 non-null  object
 1   period            207560 non-null  object
 2   fonte             207560 non-null  object
 3   state             207560 non-null  object
 4   area              207559 non-null  object
 5   micro             134093 non-null  float64
 6   start_season      207560 non-null  datetime64[ms]
 7   end_season        207560 non-null  datetime64[ms]
 8   peak_start        207560 non-null  datetime64[ms]
 9   peak_end          207560 non-null  datetime64[ms]
 10  eopath_location   207560 non-null  object
 11  start_of_season   172284 non-null  object
 12  peak_of_season    134093 non-null  datetime64[ms]
 13  end_of_season     172284 non-null  object
 14  length_of_season  172284 non-null  float64
 15  is_valid_metrics  134093 non-null  object
 16  sos_valid         134093 non-null  object
 17  pos_valid         134093 non-null  object
 18  eos_valid         134093 non-null  object
 19  los_valid         134093 non-null  object
 20  planting_start    172284 non-null  datetime64[ms]
 21  planting_end      172284 non-null  datetime64[ms]
 22  start_of_cycle    134053 non-null  datetime64[ms]
 23  end_of_cycle      134053 non-null  datetime64[ms]
 24  length_of_cycle   134053 non-null  float64
 25  is_valid          172284 non-null  object
 26  is_valid_POS      134093 non-null  object
 27  is_valid_LOS      134093 non-null  object
 28  set_type          139803 non-null  object
 29  sampled_date      139803 non-null  object
 30  dataset_source    207560 non-null  object
 31  dataset_part      135350 non-null  object
 32  geometry_type     207560 non-null  object
 33  safra             207560 non-null  object
 34  edf               207560 non-null  int64
 35  geometry          207560 non-null  geometry
dtypes: datetime64[ms](9), float64(3), geometry(1), int64(1), object(22)
memory usage: 57.0+ MB

In [14]:
df.shape

(207560, 36)

# 2 Split trianing and test

In [15]:
from sklearn.model_selection import train_test_split
import pandas as pd

In [16]:
val_test.shape

NameError: name 'val_test' is not defined

In [17]:
# train_, val_test = eval_util.split_dataset_by_state_and_strafity(gdf, 
#                                                                  label_state='state',
#                                                                  stratify_labels=['monitoring_class', 'period'],
#                                                                  train_size=0.7)

# val_, test_ = eval_util.split_dataset_by_state_and_strafity(val_test, 
#                                                             label_state='state',
#                                                             stratify_labels=['monitoring_class'],
#                                                             train_size=0.5)

# gdf['dataset_part'] = None
# gdf.loc[train_.index, 'dataset_part'] = 'train'
# gdf.loc[val_.index, 'dataset_part'] = 'val'
# gdf.loc[test_.index, 'dataset_part'] = 'test'

In [30]:
gdf['dataset_part'].value_counts()

dataset_part
train    26726
test      5737
val       5729
Name: count, dtype: int64

In [31]:
gdf['monitoring_class'].value_counts()

monitoring_class
SOYBEAN    29670
CORN        5710
COTTON      1639
RICE        1173
Name: count, dtype: int64

In [32]:
gdf['state'].value_counts()

state
MT    5709
SP    5079
PR    4911
MG    4380
RS    3338
GO    3322
MS    2542
MA    1781
TO    1571
BA    1193
PI    1158
RO    1066
PA     935
SC     710
RR     275
DF     156
AP      39
AC      27
Name: count, dtype: int64

In [33]:
print(f"There are {gdf.shape[0]} rows and {gdf.shape[1]} columns")

There are 38192 rows and 40 columns

In [34]:
print(f"Dados de {gdf['start_season'].min()} a {gdf['end_season'].max()}")

Dados de 2017-09-01 a 2022-11-01

In [35]:
gdf['dataset_part'].value_counts(normalize=True)*100

dataset_part
train    69.978006
test     15.021470
val      15.000524
Name: proportion, dtype: float64

In [38]:
gdf.to_file(GEOPACKAGE_OUTPUT,
           driver='GPKG', 
           engine='fiona')

# 3. Data Analysis

### 3.1 Analysing Target y (monitoring_class)

In [41]:
pd.concat([gdf['monitoring_class'].value_counts(),
          gdf['monitoring_class'].value_counts(normalize=True)*100], axis=1)

                  count  proportion
monitoring_class
SOYBEAN           29670   77.686426
CORN               5710   14.950775
COTTON             1639    4.291475
RICE               1173    3.071324

### 3.2 Analysing dados por estado

In [42]:
pd.concat([gdf['state'].value_counts(),
          gdf['state'].value_counts(normalize=True)*100], axis=1)

       count  proportion
state
MT      5709   14.948157
SP      5079   13.298597
PR      4911   12.858714
MG      4380   11.468370
RS      3338    8.740050
GO      3322    8.698157
MS      2542    6.655844
MA      1781    4.663280
TO      1571    4.113427
BA      1193    3.123691
PI      1158    3.032049
RO      1066    2.791160
PA       935    2.448157
SC       710    1.859028
RR       275    0.720046
DF       156    0.408463
AP        39    0.102116
AC        27    0.070695

### 3.3 Analysing dados por estado e classe de cultura

In [43]:
gdf.groupby(['state', 'monitoring_class']).agg({'period':'count'})

                        period
state monitoring_class
AC    CORN                  27
AP    SOYBEAN               39
BA    CORN                 249
      COTTON               383
      SOYBEAN              561
DF    CORN                  61
      SOYBEAN               95
GO    CORN                 484
      COTTON               108
      RICE                  86
      SOYBEAN             2644
MA    CORN                 305
      COTTON                 9
      SOYBEAN             1467
MG    CORN                 997
      COTTON               188
      SOYBEAN             3195
MS    CORN                 211
      COTTON                70
      RICE                  67
      SOYBEAN             2194
MT    CORN                 365
      COTTON               798
      SOYBEAN             4546
PA    CORN                 109
      SOYBEAN              826
PI    CORN                 273
      COTTON                21
      SOYBEAN              864
PR    CORN                 965
      RICE                 122
      SOYBEAN             3824
RO    CORN                  22
      SOYBEAN             1044
RR    SOYBEAN              275
RS    CORN                 504
      RICE                 595
      SOYBEAN             2239
SC    CORN                 140
      RICE                 219
      SOYBEAN              351
SP    CORN                 862
      COTTON                21
      SOYBEAN             4196
TO    CORN                 136
      COTTON                41
      RICE                  84
      SOYBEAN             1310

### 3.4 Analysis field_id (existem IDs duplicados para os talhões)

In [44]:
gdf['field_id'].nunique()

36234

In [45]:
gdf[gdf.duplicated(['field_id','period'])]

,monitoring_class,period,fonte,cultura_2,state,area,meso,obs_extra,eopath_location,start_season,...,dataset_part,local_eopatch_path,total_imagens_do_intervalo,total_de_imagem,status_missing_images,days_gap,dates_diff,mean_dates_diff,status_series_missing,geometry
27054,SOYBEAN,2021/2022,Agrosatélite - Grãos Brasil 2021/2022,None,RO,551422.0,3,,start_2021-10-01_end_2022-05-01_monitoring_cla...,2021-10-01,...,train,/agrilearn_app/datasets/eopatchs/processed/SOY...,49,31,OK,None,None,5.17,OK,"POLYGON ((-62.38324 -10.12717, -62.38324 -10.1..."
27060,SOYBEAN,2021/2022,Agrosatélite - Grãos Brasil 2021/2022,None,RO,3148591.0,4,,start_2021-10-01_end_2022-05-01_monitoring_cla...,2021-10-01,...,train,/agrilearn_app/datasets/eopatchs/processed/SOY...,49,23,OK,None,None,5.23,OK,"POLYGON ((-62.01629 -11.33566, -62.01628 -11.3..."
27071,SOYBEAN,2021/2022,Agrosatélite - Grãos Brasil 2021/2022,None,RO,2135605.0,7,,start_2021-10-01_end_2022-05-01_monitoring_cla...,2021-10-01,...,train,/agrilearn_app/datasets/eopatchs/processed/SOY...,49,25,OK,None,None,5.00,OK,"POLYGON ((-60.58 -13.51871, -60.58 -13.51845, ..."
27077,SOYBEAN,2021/2022,Agrosatélite - Grãos Brasil 2021/2022,None,PA,568770.0,31,,start_2021-10-01_end_2022-09-01_monitoring_cla...,2021-10-01,...,val,/agrilearn_app/datasets/eopatchs/processed/SOY...,49,48,OK,None,None,2.51,OK,"POLYGON ((-54.4106 -2.77062, -54.41037 -2.7716..."
27095,SOYBEAN,2020/2021,Agrosatélite - Grãos Brasil 2020/2021,None,PA,1404261.0,42,,start_2020-10-01_end_2021-09-01_monitoring_cla...,2020-10-01,...,train,/agrilearn_app/datasets/eopatchs/processed/SOY...,49,26,OK,None,None,5.20,OK,"MULTIPOLYGON (((-48.91709 -3.4195, -48.91695 -..."
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
38147,RICE,2019/2020,Conab - Arroz Irrigado 2019/2020,None,RS,108551.0,488,,start_2019-09-01_end_2020-06-01_monitoring_cla...,2019-09-01,...,train,/agrilearn_app/datasets/eopatchs/processed/SOY...,55,28,OK,None,None,5.19,OK,"POLYGON ((-54.15517 -29.92234, -54.15512 -29.9..."
38151,RICE,2019/2020,Conab - Arroz Irrigado 2019/2020,None,RS,384161.0,493,,start_2019-09-01_end_2020-06-01_monitoring_cla...,2019-09-01,...,train,/agrilearn_app/datasets/eopatchs/processed/SOY...,55,28,OK,None,None,5.19,OK,"POLYGON ((-51.41222 -29.70816, -51.41241 -29.7..."
38165,RICE,2019/2020,Conab - Arroz Irrigado 2019/2020,None,RS,714262.0,505,,start_2019-09-01_end_2020-06-01_monitoring_cla...,2019-09-01,...,train,/agrilearn_app/datasets/eopatchs/processed/SOY...,68,34,OK,None,None,5.15,OK,"POLYGON ((-52.55275 -32.29614, -52.55275 -32.2..."
38169,RICE,2021/2022,Conab - Arroz Irrigado 2021/2022,None,GO,125860.0,551,,start_2021-10-01_end_2022-06-01_monitoring_cla...,2021-10-01,...,train,/agrilearn_app/datasets/eopatchs/processed/SOY...,68,28,OK,None,None,5.00,OK,"POLYGON ((-47.03756 -14.50845, -47.03755 -14.5..."
38170,RICE,2021/2022,Conab - Arroz Irrigado 2021/2022,None,GO,190511.0,551,,start_2021-10-01_end_2022-06-01_monitoring_cla...,2021-10-01,...,train,/agrilearn_app/datasets/eopatchs/processed/SOY...,68,30,OK,None,None,5.34,OK,"POLYGON ((-47.03426 -14.51282, -47.03426 -14.5..."

In [46]:
gdf[gdf.duplicated(['field_id','period'])]['field_id'].unique()

array(['9_2', '14_3', '23_1', '35_1', '40_8', '40_10', '41_5', '41_6',
       '83_1', '126_1', '134_2', '140_2', '142_0', '146_0', '157_1',
       '161_5', '180_1', '187_1', '201_3', '202_1', '210_1', '214_0',
       '216_3', '229_6', '237_1', '266_1', '275_2', '280_2', '281_2',
       '282_1', '309_2', '315_4', '315_6', '356_1', '363_0', '371_3',
       '372_4', '373_4', '397_0', '399_0', '416_1', '445_10', '460_1',
       '460_3', '470_1', '476_1', '757_2', '785_2', '801_3', '801_6',
       '803_11', '803_12', '844_2', '847_3', '849_4', '850_3', '850_4',
       '850_5', '854_4', '854_5', '859_4', '859_10', '859_16', '882_2',
       '940_1', '43_1', '74_3', '74_6', '113_2', '140_1', '443_2',
       '745_2', '847_2', '859_3', '859_12', '1_0', '1_2', '6_2', '8_3',
       '21_0', '48_4', '61_3', '61_7', '62_18', '78_0', '78_3', '89_2',
       '89_4', '92_4', '132_3', '147_9', '147_12', '148_3', '148_4',
       '148_9', '154_2', '170_3', '172_2', '185_1', '209_3', '219_2',
       '226_0', '231_3', '231_4', '235_4', '271_0', '307_1', '314_2',
       '318_2', '319_1', '324_2', '346_0', '354_4', '356_3', '357_0',
       '377_0', '378_3', '388_2', '390_0', '418_1', '422_0', '426_1',
       '458_0', '459_1', '465_3', '472_3', '495_1', '504_0', '513_0',
       '527_1', '593_4', '599_2', '602_2', '718_7', '721_9', '739_3',
       '790_2', '802_3', '803_4', '803_9', '815_2', '818_3', '818_10',
       '818_15', '828_5', '831_4', '838_4', '841_2', '847_13', '859_6',
       '859_13', '863_2', '865_2', '869_3', '870_7', '873_1', '877_8',
       '878_7', '888_4', '891_1', '891_6', '911_1', '913_2', '915_4',
       '917_8', '925_5', '929_3', '932_2', '932_11', '932_15', '936_1',
       '955_4', '956_5', '958_4', '964_1', '976_6', '991_2', '67_3',
       '92_5', '169_1', '179_3', '186_1', '258_1', '261_1', '262_3',
       '269_2', '287_2', '309_8', '311_4', '361_6', '361_8', '361_15',
       '389_0', '466_1', '914_2', '1232_0', '1277_2', '1309_1', '1309_2',
       '1337_0', '1418_3', '1462_0', '1464_2', '1473_1', '1517_2',
       '1527_5', '1531_4', '1534_8', '1551_2', '1552_4', '1553_1',
       '1561_5', '1578_1', '1588_1', '1615_5', '1645_3', '1645_4',
       '1673_1', '1752_3', '1923_2', '1932_13', '2083_7', '2148_7',
       '2173_7', '2209_3', '2209_4', '2209_5', '2252_3', '2257_1',
       '2259_1', '2266_3', '2271_5', '2352_4', '2361_4', '2388_2',
       '2432_3', '2500_3', '2511_3', '2553_2', '2563_2', '2572_3',
       '2572_6', '2573_5', '2573_11', '2573_13', '2580_3', '2580_8',
       '2625_4', '2626_2', '2649_2', '2751_2', '2754_2', '2754_4',
       '2779_1', '2796_2', '2817_1', '2893_1', '2912_2', '2935_2',
       '2948_2', '2959_1', '2960_1', '3008_2', '3010_1', '3038_2',
       '3079_1', '3079_2', '3139_2', '3183_1', '3232_2', '3236_2',
       '3321_3', '3335_1', '3353_2', '3373_2', '3467_3', '3549_3',
       '3605_2', '3795_3', '3862_1', '3892_2', '3937_2', '4008_3',
       '4356_3', '4370_1', '4403_2', '4411_2', '4480_4', '4506_8',
       '4548_5', '5274_2', '5377_2', '5429_2', '5523_3', '5747_1',
       '5767_1', '5768_1', '5771_2', '5851_2', '5897_4', '5897_5',
       '5916_1', '5942_1', '5945_2', '6068_3', '6082_1', '6118_3',
       '6128_4', '6196_1', '6198_2', '6212_1', '6237_6', '6334_2',
       '6353_1', '6611_1', '6910_1', '6931_3', '6956_2', '7032_1',
       '7033_1', '7093_0', '7126_2', '7165_1', '7203_1', '7261_1',
       '7281_2', '7399_3', '7503_1', '7711_2', '7744_1', '7912_1',
       '7945_0', '7987_3', '8019_1', '8493_2', '8903_2', '9003_5',
       '9134_3', '9166_3', '9182_8', '9665_1', '10134_3', '10414_5',
       '10535_3', '10559_2', '10586_7', '10632_1', '10848_1', '11152_1',
       '11232_2', '1337_2', '1463_2', '1505_2', '1545_1', '1545_4',
       '1599_2', '1600_2', '1613_2', '1615_6', '1615_7', '1744_5',
       '1757_2', '1786_2', '1816_2', '1820_3', '1932_3', '2025_2',
       '2064_1', '2083_14', '2112_2', '2134_3', '2139_0', '2210_1',
       '2301_3', '2311_2', '2315_1', '2324_2', '2361_5', '2367_1',
       '2518_4', '2528_7', '2580_9', '2603_2', '2717_2', '2732_2',
       '2746_2', '2849_1', '2910_1', '2935_8', '2943_0', '2947_2',
       '3019_1', '3041_0', '3121_1', '3189_1', '3240_4', '3610_2',
       '3770_2', '3798_2', '3799_1', '3894_1', '3909_2', '3945_3',
       '4077_0', '4210_3', '4227_1', '4248_0', '4285_1', '4411_4',
       '4411_5', '4463_3', '4463_8', '4480_3', '4487_3', '4493_0',
       '4537_0', '4551_1', '4594_1', '4754_1', '4762_2', '4926_4',
       '5119_5', '5243_11', '5265_0', '5292_5', '5333_1', '5334_7',
       '5393_3', '5447_4', '5469_3', '5630_1', '5637_1', '5651_1',
       '5669_2', '5754_4', '5842_2', '5850_1', '5899_2', '5930_0',
       '5967_3', '6083_1', '6114_2', '6131_1', '6296_1', '6306_1',
       '6513_2', '6581_2', '6804_1', '7040_5', '7168_3', '7196_0',
       '7198_0', '7214_3', '7595_3', '7793_1', '8561_0', '8893_2',
       '9123_3', '9181_2', '9299_0', '9299_1', '9442_3', '9627_0',
       '9730_0', '10089_0', '10110_2', '10894_2', '11013_3', '11013_4',
       '11155_1', '11168_0', '11545_0', '527_2', '537_14', '567_0',
       '573_0', '575_6', '575_10', '641_4', '649_1', '650_1', '665_0',
       '776_0', '827_1', '838_1', '843_2', '844_4', '891_2', '903_3',
       '905_2', '948_1', '985_1', '1057_3', '1079_2', '1175_3', '1256_1',
       '622_2', '653_2', '789_6', '801_7', '813_2', '854_1', '871_2',
       '880_3', '976_3', '1153_1', '1173_1', '1206_1', '510_0', '562_1',
       '574_2', '592_2', '598_1', '599_3', '611_2', '616_5', '621_1',
       '626_4', '639_2', '705_1', '745_6', '778_1', '792_2', '795_2',
       '803_2', '839_2', '853_3', '866_2', '904_0', '915_1', '917_3',
       '937_0', '1090_0', '1170_2', '1210_2', '1214_1', '1230_1',
       '1241_3', '1255_2', '1258_6', '1276_2', '1304_2', '1329_2',
       '561_1', '568_2', '598_3', '598_7', '610_2', '630_5', '688_4',
       '814_0', '827_0', '828_0', '852_1', '856_1', '862_2', '885_5',
       '917_1', '922_11', '924_2', '924_6', '944_1', '945_1', '962_0',
       '1191_9', '1208_2', '1292_1', '1305_0', '1306_7', '0_2', '0_4',
       '0_7', '1_5', '23_4', '59_2', '65_0', '73_2', '77_3', '82_8',
       '91_3', '91_6', '104_2', '105_1', '175_7', '177_2', '178_3',
       '181_8', '182_1', '183_1', '198_2', '205_2', '209_4', '212_2',
       '222_4', '222_6', '222_8', '229_2', '233_3', '242_4', '246_2',
       '249_1', '249_9', '301_3', '305_2', '309_3', '310_3', '316_3',
       '316_5', '321_2', '325_3', '325_5', '329_4', '347_0', '348_1',
       '351_2', '356_2', '361_3', '362_2', '378_2', '380_3', '380_9',
       '381_4', '383_0', '385_2', '392_5', '419_2', '425_2', '425_4',
       '452_4', '452_5', '453_4', '472_1', '483_5', '484_9', '507_1',
       '511_1', '515_2', '41_2', '61_5', '61_8', '61_17', '64_2', '64_6',
       '66_4', '82_3', '82_7', '85_8', '93_2', '96_2', '109_3', '130_2',
       '135_2', '137_2', '145_1', '147_3', '147_4', '149_2', '152_1',
       '159_2', '160_4', '160_10', '160_16', '162_1', '175_5', '200_4',
       '215_2', '227_2', '227_3', '259_4', '259_9', '273_1', '290_1',
       '293_3', '298_0', '340_3', '340_5', '341_5', '347_4', '347_5',
       '354_1', '374_3', '392_0', '408_1', '410_6', '419_1', '448_2',
       '461_3', '461_7', '462_3', '473_7', '483_15', '483_16', '506_1',
       '524_3', '529_6', '535_2', '551_2', '17_1', '25_8', '26_3', '27_2',
       '28_4', '32_2', '33_2', '34_3', '35_5', '39_5', '42_7', '44_5',
       '50_2', '50_3', '50_5', '50_6', '50_8', '50_10', '50_13', '51_0',
       '62_7', '63_10', '0_8', '7_6', '13_3', '42_15', '44_4', '56_2',
       '57_4', '58_7', '62_2', '63_16', '66_6', '67_8', '8_2', '9_3',
       '10_5', '12_1', '14_0', '14_1', '25_4', '28_3', '34_2', '36_2',
       '40_4', '44_0', '53_2', '55_2', '55_5', '59_9', '60_6', '63_4',
       '66_0', '77_6', '83_4', '84_10', '87_12', '103_8', '109_2', '15_1',
       '16_1', '22_1', '22_2', '30_9', '39_2', '39_12', '40_3', '70_1',
       '74_2', '87_8', '100_25', '100_30', '103_7', '103_11', '103_12',
       '104_6', '108_2', '1381_0', '1381_1', '94_2', '97_0', '0_1', '6_0',
       '40_0', '79_1', '98_0', '100_0'], dtype=object)

In [47]:
#df[df['field_id'].isin(['0_6'])].to_csv('/agrilearn_app/datasets/cana-v1/csvs/duplicated_lines_CANA-sample-02.csv')

In [48]:
gdf[['cultura_2', 'monitoring_class']]

      cultura_2 monitoring_class
0          None          SOYBEAN
1          None          SOYBEAN
2          None          SOYBEAN
3          None          SOYBEAN
4          None          SOYBEAN
...         ...              ...
38187      None             RICE
38188      None             RICE
38189      None             RICE
38190      None             RICE
38191      None             RICE

[38192 rows x 2 columns]

### 4.5 Analysis of period

In [50]:
gdf.groupby(['dataset_part', 'period']).agg({'monitoring_class':'count'})

# Primeiro, calculamos a contagem
count_df = gdf.groupby(['dataset_part', 'period']).agg(count=('monitoring_class', 'count'))

# Em seguida, calculamos a porcentagem
total_count = count_df['count'].sum()
count_df['percentage'] = (count_df['count'] / total_count) * 100

In [51]:
count_df

                        count  percentage
dataset_part period
test         2017/2018     32    0.083787
             2018/2019     51    0.133536
             2019/2020     90    0.235651
             2020/2021   2696    7.059070
             2021/2022   2868    7.509426
train        2017/2018    144    0.377042
             2018/2019    238    0.623167
             2019/2020    416    1.089233
             2020/2021  12481   32.679619
             2021/2022  13447   35.208944
val          2017/2018     30    0.078550
             2018/2019     52    0.136154
             2019/2020     89    0.233033
             2020/2021   2657    6.956954
             2021/2022   2901    7.595832